<p>
   <%= this_year %>
   Pavlovskiy Andrew
   <%= github_url('Starlexxx', 'TestGuru')%> <br>
</p>
<p>
   <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/', target: '_blank' %>
 </p> 
