<li>
  <%= question.body %><br> 
  <%= link_to 'Show', admin_question_path(question) %> |
  <%= link_to 'Edit', edit_admin_question_path(question) %> | 

  <%= link_to 'Delete', admin_question_path, data: 
        { turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
</li>

